/* 
#     #                      
#     #  ####  #    # ###### 
#     # #    # ##  ## #      
####### #    # # ## # #####  
#     # #    # #    # #      
#     # #    # #    # #      
#     #  ####  #    # ######  */

/* profile picture */
.profile-pic {
  border-radius: 50%;
}

/* 
   ###    ########   #######  ##     ## ########    ##     ## ######## 
 ##   ##  ##     ## ##     ## ##     ##    ##       ###   ### ##       
##     ## ##     ## ##     ## ##     ##    ##       #### #### ##       
##     ## ########  ##     ## ##     ##    ##       ## ### ## ######   
######### ##     ## ##     ## ##     ##    ##       ##     ## ##       
##     ## ##     ## ##     ## ##     ##    ##       ##     ## ##       
##     ## ########   #######   #######     ##       ##     ## ######## 
 */

/* 
######  ##    ## #### ##       ##       
##    ## ##   ##   ##  ##       ##       
##       ##  ##    ##  ##       ##       
 ######  #####     ##  ##       ##       
      ## ##  ##    ##  ##       ##       
##    ## ##   ##   ##  ##       ##       
 ######  ##    ## #### ######## ########  */

.skill-section {
  background-image: url("http://pluspng.com/img-png/learning-png-hd--1201.png");
}
 

/* 
 ########   #######  ########  ######## ########  #######  ##       ####  #######  
 ##     ## ##     ## ##     ##    ##    ##       ##     ## ##        ##  ##     ## 
 ##     ## ##     ## ##     ##    ##    ##       ##     ## ##        ##  ##     ## 
 ########  ##     ## ########     ##    ######   ##     ## ##        ##  ##     ## 
 ##        ##     ## ##   ##      ##    ##       ##     ## ##        ##  ##     ## 
 ##        ##     ## ##    ##     ##    ##       ##     ## ##        ##  ##     ## 
 ##         #######  ##     ##    ##    ##        #######  ######## ####  #######  

*/
.portfolio-section {
  background-image: url("");
}

/* 
########  ########     ###     ######  ######## ####  ######  ######## 
##     ## ##     ##   ## ##   ##    ##    ##     ##  ##    ## ##       
##     ## ##     ##  ##   ##  ##          ##     ##  ##       ##       
########  ########  ##     ## ##          ##     ##  ##       ######   
##        ##   ##   ######### ##          ##     ##  ##       ##       
##        ##    ##  ##     ## ##    ##    ##     ##  ##    ## ##       
##        ##     ## ##     ##  ######     ##    ####  ######  ########  
*/
